[Install]
WantedBy=plasma-workspace.target

[Unit]
Description=i3 w/Plasma Window Manager
Before=plasma-workspace.target

[Service]
ExecStart=/usr/bin/env i3
Slice=session.slice
Restart=on-failure
